body {
    min-width: 100px;
    min-height: 100%;
    font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-size: 14px;
    background-color: #fafafa;
    margin: 0;
    box-sizing: border-box;
}
.content-wrapper {
    background: #111;
    color: #fff!important;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: logo-rotate 200s linear infinite;
    background-size: 240px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDAgMjQwIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTA2IDkwaDJ2MmgtMnpNNzQgNjNoMXYxaC0xek0yMyA2NmgxdjFoLTF6TTUwIDExMGgxdjFoLTF6TTYzIDEyOGgxdjFoLTF6TTQ1IDE0OWgxdjFoLTF6TTkyIDE1MWgxdjFoLTF6TTU4IDhoMXYxaC0xek0xNDcgMzNoMnYyaC0yek05MSA0M2gxdjFoLTF6TTE2OSAyOWgxdjFoLTF6TTE4MiAxOWgxdjFoLTF6TTE2MSA1OWgxdjFoLTF6TTEzOCA5NWgxdjFoLTF6TTE5OSA3MWgzdjNoLTN6TTIxMyAxNTNoMnYyaC0yek0xMjggMTYzaDF2MWgtMXpNMjA1IDE3NGgxdjFoLTF6TTE1MiAyMDBoMXYxaC0xek01MiAyMTFoMnYyaC0yek0wIDE5MWgxdjFIMHpNMTEwIDE4NGgxdjFoLTF6Ii8+PC9zdmc+);
    position: fixed;
    transform: rotate(-360deg);
    align-items: center;
}
.content {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    overflow: scroll;
}
.center-text {
    position: relative;
    color: #FFFFFF !important;
    text-align: center;
    margin: 10rem auto;
}
.title {
    font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.01562em;
    color: #fff;
    font-weight: 700;
}
.sub-title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
    letter-spacing: -0.01562em;
    justify-content: center;
    display: flex;
    margin-bottom: 28px;
}
.text-subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.00937em;
}
.downloadBox {
    border: solid 1px black;
    background-color: cornflowerblue;
    width: 28%;
    margin: 2em auto;
    padding: 1em;
    border-radius: 1rem;
}
.downloadBox a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.button-box {
    padding-top: 16px;
    padding-left: 8px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    display: inline-block;
}
.button-wrapper {
    padding-left: 8px;
}
.button {
    outline: 0!important;
    margin-top: 8px;
    margin-left: 8px;
    background: #fff!important;
    border-radius: 3px;
    text-transform: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    outline: 0;
    border: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 20px;
    line-height: 1.715em;
    text-decoration: none;
    color: inherit;
    background: transparent;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 15rem;
    height: auto;
    box-sizing: inherit;
    border-radius: 0.5rem;
}
.button span {
    display: block!important;
    color: #126FFF!important;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: inherit;
    height: 100%;
}
.container-fluid {
    position: relative;
    z-index: 20;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDAgMjQwIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTA2IDkwaDJ2MmgtMnpNNzQgNjNoMXYxaC0xek0yMyA2NmgxdjFoLTF6TTUwIDExMGgxdjFoLTF6TTYzIDEyOGgxdjFoLTF6TTQ1IDE0OWgxdjFoLTF6TTkyIDE1MWgxdjFoLTF6TTU4IDhoMXYxaC0xek0xNDcgMzNoMnYyaC0yek05MSA0M2gxdjFoLTF6TTE2OSAyOWgxdjFoLTF6TTE4MiAxOWgxdjFoLTF6TTE2MSA1OWgxdjFoLTF6TTEzOCA5NWgxdjFoLTF6TTE5OSA3MWgzdjNoLTN6TTIxMyAxNTNoMnYyaC0yek0xMjggMTYzaDF2MWgtMXpNMjA1IDE3NGgxdjFoLTF6TTE1MiAyMDBoMXYxaC0xek01MiAyMTFoMnYyaC0yek0wIDE5MWgxdjFIMHpNMTEwIDE4NGgxdjFoLTF6Ii8+PC9zdmc+);
}
.container {
    max-width: 100%!important;
}
.geek-camp-icon {
    width: 60px;
    cursor: pointer;
}
.geek-camp-icon img{
    width: 100%;
    border-radius: 2rem;
}
.github-icon {
    width: 60px;
    cursor: pointer;
}
.github-icon a {
    width: 60px;
}
.github-icon img {
    width: 100%;
    border-radius: 2rem;
}

.page-center-text {
    position: relative;
    color: #FFFFFF !important;
    text-align: center;
    margin: 7rem auto 1rem;
}
.page-title {
    font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.01562em;
    color: #fff;
    font-weight: 600;
}
.python-page-title {
    font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.01562em;
    color: #fff;
    font-weight: 500;
}
.card {
    width: 90%;
    margin: 0 auto;
    color: black !important;
    margin-bottom: 5rem;
}
.card-title {
    font-size: 2rem;
    margin: 1.5rem 0 !important;
}
.card-text {
    font-size: 1rem;
}
.card-text-label {
    font-weight: bold;
    /* position: relative;
    float: left; */
    margin-top: 1rem;
    font-size: 1.25rem;
}
.python-card-text-label {
    font-weight: bold;
    position: relative;
    margin-top: 1rem;
    font-size: 1.25rem;
}
.python-card-text-span {
    /* position: relative; */
    /* float: left; */
    margin: 1rem;
}
.back {
    cursor: pointer;
    width: 40%;
    font-size: 1rem;
    margin: 1.25rem 0;
}
.python-back {
    cursor: pointer;
    width: 40%;
    font-size: 1rem;
    margin: 1.25rem auto;
}
.python-downloadBox {
    border: solid 1px black;
    background-color: cornflowerblue;
    width: 15px;
    margin: 0.5em;
    padding: 0.25em 1rem;
    border-radius: 1rem;
}
.python-downloadBox a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
